body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.logo {
    font-size: 2rem;
    color: #ffffff;
    user-select: none;
}

.container {
    height: 100vh;
    width: 100%;
    position: relative;
    background: url(joshua-reddekopp-SyYmXSDnJ54-unsplash.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.accordian {
    position: absolute;
    margin: 200px 20px;
    max-width: 800px;
    padding: 50px;
    border: 3px solid #321a0a;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px solid black;
    overflow: hidden;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 1rem;
    text-align: center;
    color: rgb(255, 255, 255);
}

.accordian .content-box {
    position: relative;
    margin: 10px 20px;
}

.accordian .content-box .label {
    position: relative;
    font-size: 17px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: -3px 3px 3px #8c3600;
    color: rgb(255, 255, 255);
    background: rgba(30, 30, 30, 0.5);
    cursor: pointer;
}

.accordian .content-box .label:hover {
    box-shadow: inset 3px 3px 3px #fdaf48, inset -3px -3px 3px #ffcb86;
}

.accordian .content-box .label::before {
    content: "+";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5rem;
}

.accordian .content-box .label::after {
    content: "-";
}

.accordian .content-box .content {
    position: relative;
    background-color: #fff;
    height: 0;
    overflow: hidden;
    overflow-y: auto;
    transition: 0.5s;
}

.accordian .content-box.active .content {
    height: auto;
    margin-bottom: 20px;
    padding: 2rem 1rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
}